<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <%= yield %>
    <div class="navbar">
      <h3>Navigation:</h3>
      <a class="btn btn-primary" href="/">Home</a>
    </div>
  </div>
</body>
</html>
